
.lock
*.lck
.vpprefdata/.systemproject.vpp
.vpprefdata/.systemproject.vpp.bak_000f
.vpprefdata/.vp.preference
.vpprefdata/breadcrumbprompts/ProjectBreadcrumbPromptIndexing.xml
.vpprefdata/dictionary/user.lx
.vpprefdata/LayoutPerspectiveData/_C4AVxKD.AACAQOE.jpeg
.vpprefdata/LayoutPerspectiveData/_C4AVxKD.AACAQOEC.lod
.vpprefdata/LayoutPerspectiveData/_C4AVxKD.AACAQOE.lod
.vpprefdata/LayoutPerspectiveData/_C4AVxKD.AACAQOEM.lod
.vpprefdata/LayoutPerspectiveData/_C4AVxKD.AACAQOEMC.lod
.vpprefdata/LayoutPerspectiveData/ARYisCCGAqAKbwca.jpeg
.vpprefdata/LayoutPerspectiveData/ARYisCCGAqAKbwca.lod
.vpprefdata/LayoutPerspectiveData/ARYisCCGAqAKbwcaM.lod
.vpprefdata/LayoutPerspectiveData/i278sCCGAqAKbwcX.jpeg
.vpprefdata/LayoutPerspectiveData/i278sCCGAqAKbwcX.lod
.vpprefdata/LayoutPerspectiveData/i278sCCGAqAKbwcXM.lod
.vpprefdata/LayoutPerspectiveData/L7yCsCCGAqAKbwcY.jpeg
.vpprefdata/LayoutPerspectiveData/L7yCsCCGAqAKbwcY.lod
.vpprefdata/LayoutPerspectiveData/L7yCsCCGAqAKbwcYM.lod
.vpprefdata/LayoutPerspectiveData/Tb9isCCGAqAKbwcb.jpeg
.vpprefdata/LayoutPerspectiveData/Tb9isCCGAqAKbwcb.lod
.vpprefdata/LayoutPerspectiveData/Tb9isCCGAqAKbwcbM.lod
.vpprefdata/nicknames/NickNameIndexing.xml
.vpprefdata/processfroms/ProjectProcessFromIndexing.xml
.vpprefdata/sideComponents/Indexing.xml
.vpprefdata/treestates/ProjectTreeStateIndexing.xml
.vpprefdata/webdiagramstates/ProjectWebDiagramStateIndexing.xml
untitled.vpp.bak_000f
untitled.vpp.bak_001d
