tmp/*
.lock
*.lck
.vpprefdata/*
Diagrams.vpp.*
*.class
Controller/*.class
Models/*.class
*.code-workspace
~$signment_Report.docx
.idea
.DS_Store
Diagrams/.vpprefdata/*
Diagrams/.lock
Diagrams/.lck
Diagrams.vpp.*